@using PT.Web.WebUtil
@model PT.BusinessLogic.Entities.PopUp

@{
    Layout = null;
    ViewBag.Title = "KSIS(KCC E&C SMART INFORMATION SYSTEM)";
}

<!DOCTYPE html>
<html>
    <head>
         <title>@ViewBag.Title</title>
        <!-- 인코딩 -->
        <meta http-equiv="Contents-Type" content="text/html" charset="utf-8" />
        <!-- 문서모드 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- 파비콘 -->
        <link rel="shortcut icon" type="image/x-icon" href="/Contents/images/favicon.ico" />
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/Contents/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/Contents/css/portal.css" />

        <!-- script -->
        <script type="text/javascript" src="/Contents/js/common.js"></script>
        <script type="text/javascript" src="/Contents/js/component.js"></script>
        <script type="text/javascript" src="/Contents/js/jquery-1.9.1.min.js"></script>
    </head>
    <body>
    <div id="container">  
        <!-- 콘텐츠 -->
        <div id="contents">
            <!-- 폼 -->
           <form id="frm" name="frm" enctype="multipart/form-data" action="/PopUp/SaveSitePhoto" method="post">
                <!-- 버튼박스 -->
                <div class="box_btn_right">
                    <a id="btn_save" class="btn1">저장</a>
                </div>
                <!-- //버튼박스 -->
                <!-- 첨부파일 -->
                <div class="file_box">
                    @WebUtil.MakeFileControl("사진등록", "AttId", Model.AttId, true, Position.left, "100%")
                </div>
                <!-- //첨부파일 -->
                <!-- 숨김정보 -->
                @Html.HiddenFor(x => x.SaveMode)
                @Html.HiddenFor(x => x.RegNo)
                @Html.HiddenFor(x => x.SiteCd)
                <!-- //숨김정보 -->
             </form>
        <!-- //폼 -->
        </div>
        <!-- //콘텐츠 -->
     </div>
    </body>
</html>

<script type="text/javascript">

    //************ 변수 ************//
    var SiteCd = "@Model.SiteCd";
    var saveMode = "@Model.SaveMode"; 

    //************ 로드 ************//

  
    //************ 이벤트 ************//

    // 저장버튼 클릭 이벤트
    $(document).on("click", "#btn_save", function (e) {
        $("#frm").submit();
    });

</script>