@using PT.Web.WebUtil;
@model PT.BusinessLogic.Entities.Meeting

@{
    Layout = null;
    ViewBag.Title = "KSIS(KCC E&C SMART INFORMATION SYSTEM)";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- 인코딩 -->
    <meta http-equiv="Contents-Type" content="text/html" charset="utf-8" />
    <!-- 문서모드 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="/Contents/images/favicon.ico" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/Contents/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Contents/css/portal.css" />

    <!-- script -->
    <script type="text/javascript" src="/Contents/js/common.js"></script>
    <script type="text/javascript" src="/Contents/js/component.js"></script>
    <script type="text/javascript" src="/Contents/js/jquery-1.9.1.min.js"></script>

    <script>
        var meetTypeCd = "NoticeControl";
        var regNo = "@Model.RegNo";
        var regUserId = "@Model.RegUserId";
        var userId = "@Session["UserId"]", temp = ""
        var EmpNo = "@Session["EmpNo"]";

        $(document).ready(function (e) {
            $("#NoticeControl").addClass("txt_red");
            EnableControl();
            checkClientEM();
        });

        // 파일변환 Url 조회
        function GetSnyNapViewer(pAttId, pConfirm) {
            $.ajax({
                type: "POST",
                url: "/AjaxAuth/GetSnyNapViewer",
                dataType: "text",
                data: { "pAttId": pAttId, "pConfirm": pConfirm },
                async: false,   // 동기식 처리
                success: function (data) {
                    if (data == "Error") {
                        alert("파일변환 에러 발생.");
                        return false;
                    }
                    else if (data == "NotConvertContent") {
                        alert("변환 불가능한 확장자.");
                        return false;
                    }
                    else if (temp == true) {

                        var winHeight = document.body.clientHeight; //현재창의 높이
                        var winWidth = document.body.clientWidth; // 현재창의 너비

                        var winX = window.screenX || window.screenLeft || 0; //현재창의 x좌표
                        var winY = window.screenY || window.screenTop || 0; // 현재창의 y좌표

                        var popX = winX + (winWidth - 1280) / 2;
                        var popY = winY + (winHeight - 720) / 2;

                        var setting = "toolbar=no,directories=no,status=no,location=no,menubar=no,scrollbars=yes,resizable=no,screenX=0,screenY=0,width=1280,height=720,top=" + popY + ",left=" + popX + "";

                        window.open(data, "원본보기", setting);
                    }
                    else {
                        window.open(data, "");
                    }
                },
                error: function (e) {
                    alert("에러 발생.");
                    return false;
                }
            });
        }

        // 버튼 및 INPUTBOX 활성화.비활성화 함수
        function EnableControl() {
            if (meetTypeCd != 'PT001011') {
                if (regUserId == userId) {
                    $("#btn_modify").show();
                }
            }
            else { $("#btn_modify").show(); }
        }

        function checkClientEM() {
            var filter = "win16|win32|win64|mac|macIntel";

            if (navigator.platform) {

                if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                    $("#pc").css("display", "none");
                    $("#mobile").css("display", "block");
                } else {
                    $("#pc").css("display", "block");
                    $("#mobile").css("display", "none");
                }

                if (EmpNo == "18902060" || EmpNo == "21305123" || EmpNo == "21102055" || EmpNo == "19906299" || EmpNo == "19800768" || EmpNo == "18900507" || EmpNo == "20006900") {
                    $("#pc").css("display", "block");
                    $("#mobile").css("display", "none");
                }

            }

        }


        //************ 이벤트 ************//

        // 수정버튼 클릭 이벤트
        $(document).on("click", "#btn_modify", function (e) {
            location.href = "/Admin/NoticeControlEdit?pMeetTypeCd=" + meetTypeCd + "&pSaveMode=U&pRegNo=" + regNo;
        });

        // 첨부파일 클릭 이벤트
        $(document).on("click", "#tbody_attid td:nth-child(1) a", function (e) {

            GetSnyNapViewer($(this).attr("id"), "N");
        });
        // 원본보기 클릭 이벤트
        $(document).on("click", "#tbody_attid td:nth-child(2) a", function (e) {

            GetSnyNapViewer($(this).attr("id"), "Y");
        });


    </script>

</head>
<body>
    <div id="wrap">
        <!-- 머리글 -->
        <div id="header">
            <div class="gnb">
                <div class="gnb_info">
                    <a href="/Portal/Home" class="logo"></a><a href="/Account/Logout">로그아웃</a><label>|</label><span>(@Session["DeptNm"])</span><span>@Session["DutyNm"]</span><span>@Session["UserNm"]</span><label>|</label><span>@DateTime.Now.ToString("yyyy-MM-dd")</span>
                </div>
            </div>
            <div class="lnbo">
            </div>
            <div id="container">
                <!-- 콘텐츠 -->
                <div id="contents">
                    <!-- 사이드메뉴 -->
                    <div class="contents_left1">
                        <a href="/Admin/AuthControl" id="AuthControl">화면권환관리</a>
                        <a href="/Admin/NoticeControl" id="NoticeControl">공지사항관리</a>
                    </div>

                    <div class="contents_right1">

                        <!-- 폼 -->
                        <form id="frm" name="frm" enctype="multipart/form-data" action="/Admin/NoticeControlDetail" method="post">
                            <!-- 버튼박스 -->
                            <div class="box_btn_right">
                                <a href="/Admin/NoticeControl?pMeetTypeCd=@Model.MeetTypeCd" id="btn_list" class="btn1">목록</a><a id="btn_modify" class="btn1" style="display:none;">수정</a>
                            </div>
                            <!-- //버튼박스 -->
                            <!-- 입력박스 -->
                            <div class="box_input">
                                <table>
                                    <colgroup>
                                        <col style="width:15%" />
                                        <col style="width:35%" />
                                        <col style="width:15%" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>작성자</th>
                                            <td class="td_center">@Model.RegUserNm</td>
                                            <th>작성일자</th>
                                            <td class="td_center">@Model.RegDate</td>
                                        </tr>
                                        <tr>
                                            <th>제목</th>
                                            <td colspan="3" class="td_left">@Model.Subject</td>
                                        </tr>
                                        <tr>
                                            <th>내용</th>
                                            <td colspan="3" class="td_left" style="height:310px;padding-top:5px;vertical-align:top;">@MvcHtmlString.Create(Model.HtmlContent)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //입력박스 -->
                            <!-- 첨부파일 -->
                            <div id="mobile" class="file_box">
                                @WebUtil.MakeFileControl("첨부파일", "AttId", Model.AttId, false, Position.left, "100%")
                            </div>
                            <div id="pc" class="file_box" style="display:none;">
                                @WebUtil.MakeFileControlForMeet("첨부파일", "AttId", Model.AttId, false, Position.left, "100%")
                            </div>
                            <!-- //첨부파일 -->
                            <!-- 숨김정보 -->
                            @Html.HiddenFor(x => x.RegNo)
                            @Html.HiddenFor(x => x.MeetTypeCd)
                            <!-- //숨김정보 -->
                        </form>
                        <!-- //폼 -->

                    </div>
                    <!-- //콘텐츠 -->
                </div>
            </div>
        </div>
        <!-- //본문 -->
        <!-- 바닥글 -->
        <div id="footer">
            <span>COPYRIGHT(C) 2017 KCC ENGINEERING & CONSTRUCTION CO., LTD. ALL RIGHT RESERVED.</span>
        </div>
        <!-- //바닥글 -->

    </div>

</body>
</html>